.nav-menu{
    right: 0%;
    padding-right: 10px;
    position: relative;
    top: 0%;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
.navbar-nav > li > a{
    color: white
}
  