/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
body {
  font-family: "Gruppo", cursive !important;
}
>>>>>>> 2ff81a548ec899ffee9ed7d15f358997b59c992f
