.home {
  min-height: 300px;
  margin-top: 70px;
}

.heading-item {
  padding: 20px;
  border: 1px solid #5f65b5;
  margin-left: 70px;
  max-width: 200px;
  text-align: center;
}

.politician-box {
  background: linear-gradient(180deg, #9cb2d8 0%, #6762b1 100%);
  padding: 20px;
  margin-left: 70px;
  max-width: 250px;
  color: #fff;
}

.politician-image {
  background: #ffffff;
  border: 1px solid #5f65b5;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
  text-align: center;

  & img {
    max-width: 150px;
  }
}

.politician-proceed {
  button {
    background: linear-gradient(
      228.67deg,
      rgba(91, 103, 183, 0.71) 16.28%,
      rgba(103, 98, 177, 0) 61.63%
    );
    color: #fff;
  }
}

.content-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffff;
}
