<div id="politician-container">
    <div class="politician-grid">
        <h1 class="topPolitician-header"> TOP POLITICIAN </h1>
        <div class="row">
        <ul class="topPoliticianlist">
            <li>
                <div class="politicianbox">
                    <div class="politiciancontainer">
                        <img src="assets/Images/buhari.jpg" style="border-radius: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                        <br><a><h4 style="word-wrap:initial;">Seasoned Crab garnished with sliced tomatoes</h4></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="politicianbox">
                    <div class="politiciancontainer">
                        <img src="assets/Images/dinomelaye.jpg" style="border-radius: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                        <br><h4 style="word-wrap:initial;">Jollof rice and chicken with side dish: plantain</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="politicianbox">
                    <div class="politiciancontainer">
                        <img src="../assets/image/politician-container.jpg" style="border-radius: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                        <br><h4 style="word-wrap:initial;">Bolognese garnished with lime and sliced tomatoes</h4>
                    </div>
                </div>
            </li>
        </ul>
      </div>
</div>