<div class="home">
  <div class="heading-item">
    Top Politicians
  </div>
  <br />

  <div class="politician-box">
    <div class="politician-image">
      <img src="/assets/Images/buhari.jpg" alt="politician image" />
    </div>
    <br />

    <div class="politician-proceed">
      <button class="proceed-btn">Proceed</button>
    </div>
    <br />

    <div class="politician-content">
      <div class="content-item"><b>Name:</b> Mohammadu Buhari</div>

      <div class="content-item"><b>Office:</b> Vice President</div>

      <div>
        Tenure: 29th may 2019 to 29th may 2023
      </div>
    </div>
  </div>
  <br />

  <div class="heading-item">
    Worst Politicians
  </div>
  <br />

  <div class="politician-box">
    <div class="politician-image">
      <img src="/assets/Images/dinomelaye.jpg" alt="politician image" />
    </div>
    <br />

    <div class="politician-proceed">
      <button class="proceed-btn">Proceed</button>
    </div>
    <br />

    <div class="politician-content">
      <div class="content-item"><b>Name:</b> Dino Melaye</div>

      <div class="content-item"><b>Office:</b> Senate President</div>

      <div>
        Tenure: 29th may 2019 to 29th may 2023
      </div>
    </div>
  </div>
</div>
