<div class="loginbox">
    <form class="form-container">
      <h1 class="logintext"> Sign In </h1>
      <div class="form-group">
        <input type="email" class="form-control" id="inputuser" placeholder=" Username "/>
        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputpassword" placeholder="Password"/>
        <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
      </div>
      <div class="forgotpass">
        <p><a routerLink="forgotpassword"> Forgot your password</a></p>
      </div>
      <button type="submit" class="btn btn-block"> Login </button><br>
      <div class="form-group">
        <h4 class="signupoption" style="text-align: right;" ><a routerLink='/signup' style="color: purple;">New Here? Register</a></h4>
      </div>
    </form>
  </div>