<div class="feeds">
  <div class="search-bar">
    <input type="text" placeholder="Search Politician names" />
  </div>
  <br />

  <div style="display: flex;">
    <div class="politician-box">
      <div class="politician-image">
        <img src="/assets/Images/buhari.jpg" alt="politician image" />
      </div>
      <br />

      <div class="politician-proceed">
        <button class="proceed-btn">Proceed</button>
      </div>
      <br />

      <div class="politician-content">
        <div class="content-item"><b>Name:</b> Mohammadu Buhari</div>

        <div class="content-item"><b>Office:</b> Vice President</div>
      </div>

      <div class="promises">
        <h5>Promises</h5>
        <br /><br />

        <div class="promises-section">
          <div class="icon-background">
            <img
              src="/assets/Images/Titanic_front_page.jpg"
              alt="article icon"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="politician-box">
      <div class="politician-image">
        <img src="/assets/Images/dinomelaye.jpg" alt="politician image" />
      </div>
      <br />

      <div class="politician-proceed">
        <button class="proceed-btn">Proceed</button>
      </div>
      <br />

      <div class="politician-content">
        <div class="content-item"><b>Name:</b> Dino Melaye</div>

        <div class="content-item"><b>Office:</b> Senate President</div>
      </div>

      <div class="promises">
        <h5>Promises</h5>
        <br /><br />

        <div class="promises-section">
          <div class="icon-background">
            <img src="/assets/Images/senator_image.jpeg" alt="article icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <i class="fa fa-search fa-fw"></i> Search</button> -->
