<div class="container">
  <div class="header">
    <h6 class="headername"> CREATE A NEW POLITICIAN </h6>
  </div>
  <form>
    <div class="form">
      <div class="row">
          <div class="col">
            <label> First Name </label>
            <input type="text" class="form-control" name="firstname" size="35">
          </div>
          <div class="col">
            <label> Last Name </label>
            <input type="text" class="form-control" name="Bill gate" size="35">
          </div>
      </div>
    </div>
  </form>
</div>