.container{
    min-height: 300px;
    margin-top: 70px;
}
.signupform{
    width: 1000px;
    height: 700px;
    color: grey;
    padding-top: 400px;
    padding-left: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
.form-group input[type="email"], input[type="password"], input[type="text"]{
    padding-left:40px;
}
.form-group{
    position: relative;
}
.form-group i{
    position: absolute;
    left: 0;
    top: 5px;
    padding: 9px 8px;
}
.btn{
    background: rgb(85, 0, 85);
}
.terms{
    text-align: center;
}
.terms a{
    color: blueviolet;
}
.loginbox{
    color: grey;
    top: 80%;
    left: 42%;
    position: absolute;
}
.loginclass{
    text-align: right;
}